SUBSYSTEMS=="input", ATTRS{uniq}=="28:9a:4b:16:a8:d3", MODE:="0666", TAG+="systemd"
SUBSYSTEMS=="input", ATTRS{uniq}=="E4:17:D8:10:6E:35", MODE:="0666", TAG+="systemd"
