# Rule for Teensy HalfKay Bootloader
SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0478", MODE:="0666"

# Rules for Teensy 4.1 devices
# teensy_sensor
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", ATTRS{serial}=="17055770", MODE:="0666", SYMLINK+="teensy_sensor", RUN+="/bin/stty -F /dev/%k raw -echo"
# teensy_sensor2
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", ATTRS{serial}=="16482570", MODE:="0666", SYMLINK+="teensy_sensor2", RUN+="/bin/stty -F /dev/%k raw -echo"
# teensy_gripper
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", ATTRS{serial}=="16483110", MODE:="0666", SYMLINK+="teensy_gripper", RUN+="/bin/stty -F /dev/%k raw -echo"

# Generic HID rule for Teensy devices
KERNEL=="hidraw*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", MODE:="0666"
