# For the LD06 lidar. Adjust busnum to match the USB bus for your setup.
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="lidar_front_center"
