Host    amdc
        User                    ros
	HostName		amdc
        ForwardX11Trusted       yes
	ForwardX11		yes
	Compression		yes
Host    MiniMe4
        User                    michaelwimble
        HostName                MiniMe4
        ForwardX11Trusted       yes
        ForwardX11              yes
        Compression             yes
Host    sigyn7900
        User                    ros
        HostName                sigyn7900
        ForwardX11Trusted       yes
        ForwardX11              yes
        Compression             yes
Host    sigynpi
        User                    ros
        HostName                sigynpi.local
        ForwardX11Trusted       yes
        ForwardX11              yes
        Compression             yes
Host    sigynVision
        User                    ros
        HostName                sigynVision
        ForwardX11Trusted       yes
        ForwardX11              yes
