<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="colorize_link" params="color name **code">
    <material name="${name}">
      <color rgba="${color}" />
    </material>
    <link name="${name}">
      <xacro:insert_block name="code" />
    </link>
    <gazebo reference="${name}">
      <material>
        <ambient>${color}</ambient>
        <diffuse>${color}</diffuse>
        <specular>${color}</specular>
        <emissive>0.0 0.0 0.0 0.0</emissive>
      </material>
    </gazebo>
  </xacro:macro>
</robot>