<?xml version="1.0"?>
<!-- 
  Adapted from code from:
https://github.com/jetdillo/tenacity_rover/tree/0945115d723c82f1d72bb4542ab3540b5a3fad10/tenacity_description/urdf
-->

<!--  xacro macros for oakd mount -->
<robot name="oakd" xmlns:xacro="http://ros.org/wiki/xacro">
  

  <xacro:macro name="oakd_joint" params="mount_point *joint_pose">
    <joint name="oakd_joint_${mount_point}" type="fixed">
      <parent link="base_link" />
      <child link="oak-d-base-frame" />
      <xacro:insert_block name="joint_pose" />
    </joint>
    <!-- 
    <gazebo reference="oakd_joint_${mount_point}">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo> -->

    <link name="oak-d-base-frame" /> <!-- base_link of the sensor-->
    <link name="oak" />
    <joint name="oak_center_joint" type="fixed">
      <parent link="oak-d-base-frame" />
      <child link="oak" />
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
    </joint>
    <link name="oak_model_origin">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://depthai_descriptions/urdf/models/OAK-D-PRO.stl" />
        </geometry>
        <material name="mat">
          <color rgba="0.8 0.8 0.8 0.8" />
        </material>
      </visual>
    </link>
    <joint name="oak_model_origin_joint" type="fixed">
      <parent link="oak" />
      <child link="oak_model_origin" />
      <origin rpy="1.5708 0 1.5708" xyz="0 0 0" />
    </joint> <!-- IMU -->
    <link name="oak_imu_frame" />
    <joint name="oak_imu_joint" type="fixed">
      <parent link="oak" />
      <child link="oak_imu_frame" />
      <origin rpy="3.141592653589793 1.5707963267948966 0.0" xyz="-0.008 -0.037945 -0.00079" />
    </joint>
    <link name="oak_rgb_camera_frame" />
    <joint name="oak_rgb_camera_joint" type="fixed">
      <parent link="oak" />
      <child link="oak_rgb_camera_frame" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>
    <link name="oak_rgb_camera_optical_frame" />
    <joint name="oak_rgb_camera_optical_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" xyz="0 0 0" />
      <parent link="oak_rgb_camera_frame" />
      <child link="oak_rgb_camera_optical_frame" />
    </joint> <!-- Left Camera -->
    <link name="oak_left_camera_frame" />
    <joint name="oak_left_camera_joint" type="fixed">
      <parent link="oak" />
      <child link="oak_left_camera_frame" />
      <origin rpy="0 0 0" xyz="0 0.0375 0" />
    </joint>
    <link name="oak_left_camera_optical_frame" />
    <joint name="oak_left_camera_optical_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" xyz="0 0 0" />
      <parent link="oak_left_camera_frame" />
      <child link="oak_left_camera_optical_frame" />
    </joint> <!-- right Camera -->
    <link name="oak_right_camera_frame" />
    <joint name="oak_right_camera_joint" type="fixed">
      <parent link="oak" />
      <child link="oak_right_camera_frame" />
      <origin rpy="0 0 0" xyz="0 -0.0375 0" />
    </joint>
    <link name="oak_right_camera_optical_frame" />
    <joint name="oak_right_camera_optical_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" xyz="0 0 0" />
      <parent link="oak_right_camera_frame" />
      <child link="oak_right_camera_optical_frame" />
    </joint>
  </xacro:macro>
</robot>